ruge-webservice/src/main/java/com/ruge/webservice/webservice/api.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.webservice.ruge.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TestApiServiceImplService" targetNamespace="http://service.webservice.ruge.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.webservice.ruge.com/" elementFormDefault="unqualified" targetNamespace="http://service.webservice.ruge.com/" version="1.0">

  <xs:element name="insertPersonInfo" type="tns:insertPersonInfo"/>

  <xs:element name="insertPersonInfoResponse" type="tns:insertPersonInfoResponse"/>

  <xs:complexType name="insertPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertPersonInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="person">
    <xs:sequence>
      <xs:element minOccurs="0" name="age" type="xs:int"/>
      <xs:element minOccurs="0" name="height" type="xs:double"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="niceName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="insertPersonInfo">
    <wsdl:part element="tns:insertPersonInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertPersonInfoResponse">
    <wsdl:part element="tns:insertPersonInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TestApiService">
    <wsdl:operation name="insertPersonInfo">
      <wsdl:input message="tns:insertPersonInfo" name="insertPersonInfo">
    </wsdl:input>
      <wsdl:output message="tns:insertPersonInfoResponse" name="insertPersonInfoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestApiServiceImplServiceSoapBinding" type="tns:TestApiService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="insertPersonInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertPersonInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertPersonInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestApiServiceImplService">
    <wsdl:port binding="tns:TestApiServiceImplServiceSoapBinding" name="TestApiServiceImplPort">
      <soap:address location="http://localhost:8080/demo/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>